<script type="text/x-template" id="search-template">
  <div class="search-container">
    <div class="actions">
      <button class="button is-large is-primary" @click="search">Search</button>
      <button class="button is-large is-danger" @click="clear">Clear</button>
    </div>
    <div class="selected-terms">
      <span
        class="selected-terms__term"
        v-for="term in selectedTerms"
        :key="term.label"
        >{{ term.label }}</span
      >
    </div>
    <div class="terms">
      <button
        v-for="term in termOptions"
        :key="term.label"
        @click="addTerm(term)"
        class="button is-large term-button"
      >
        {{ term.label }}
      </button>
    </div>
    <div class="results">
      <div class="card" v-for="result in results" :key="`${result.name}${Math.random()}`">
        <div class="card-content">
          <p class="title is-4">{{ result.name }}</p>
          <div class="content">{{ result.build.trim() }}</div>
        </div>
      </div>
    </div>
  </div>
</script>
<div id="welcome">
  <search />
  <router-view />
</div>

<style>
  .search-container {
    height: 100vh;
    justify-content: center;
  }
  .search-input {
    border-radius: 5px;
    height: 50px;
    line-height: 25px;
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
  }
  .actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
  }
  .selected-terms {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    min-height: 50px;
  }
  .selected-terms__term {
    padding-left: 1rem;
  }
  .terms {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
  .term-button {
    width: 100%;
  }
  .results {
    white-space: pre-wrap;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: left;
  }
  </style>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
